body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: system-ui;
}
button:focus {
    outline: none;
}
.flex-col {
  display: flex;
}
.flex-col > * {
  flex-grow: 1;
}
.poll {
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.poll__menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  border-right: 3px solid #434343;
  background-color: #151515;
}
.poll__menu-logo-link {
  padding: 20px 0 0;
}
.poll__menu-logo {
  width: 100%;
}
.poll__menu-title {
  margin-bottom: 10px;
  padding: 10px 0 10px 40px;
  font-size: 32px;
}
.poll__menu-list {
  padding: 0 0 0 65px;
  margin: 0px;
  font-size: 20px;
}
.poll__menu-item-link {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 15px;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}
.poll__menu-item-link:hover {
  color: #e95619;
}
.poll__menu-item-link_button {
  margin: 5px 0 0;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #18a6be;
}
.poll__menu-item-link_active {
  color: #e95619;
}
.poll__menu-item-link_button:hover {
  background-color: rgb(20, 129, 148);
  color: white;
}
.poll__menu-item {
  font-size: 22px;
}
.poll__menu-svg {
  width: 18px;
  padding: 0 10px 0 0;
}
.poll__menu-item {
  list-style: none;
}
.poll__menu-svg_down {
  padding-top: 2px;
}
.poll__main {
  width: 80%;
  background-color: #2c2c2c;
}
.poll__main-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 100px auto;
  width: 75%;
}
.poll__main-poll-return {
  position: absolute;
  top: -45px;
  left: -90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 12px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.poll__main-poll-return:hover {
  color: #e95619;
}
.poll__main-poll-return .poll__main-poll-return-svg {
  transform: translateX(0);
  transition: transform 0.2s ease-in-out;
}
.poll__main-poll-return:hover .poll__main-poll-return-svg {
  transform: translateX(-5px);
}
.poll__main-poll-return-svg {
  width: 25px;
  margin: 0 5px 0 0;
}
.poll__main-poll-return-text {
  font-size: 18px;
}
.poll__main-title {
  display: inline-block;
  font-size: 45px;
}
.poll__main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 70px;
  width: 100%;
}
.poll__main-list-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 60px;
  width: 100%;
}
.poll__main-list {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
}
.poll__main-list-inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.poll__main-item {
  width: calc(50% - 10px);
  vertical-align: bottom;
  list-style: none;
  font-size: 25px;
}
.poll__main-item:nth-child(odd) {
  padding: 0 10px 0 0;
}
.poll__main-item:last-child {
  padding: 0;
}
.poll__main-item-radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 8px 0;
  padding: 5px 15px;
  height: calc(100% - 16px - 10px);
  border-radius: 50px;
  cursor: pointer;
  transition: background-color .2s ease;
  -webkit-tap-highlight-color: transparent;
}
.poll__main-item-radio:hover {
  background-color: rgba(199, 199, 199, 0.2);
}
.poll__main-item-radio_not-active {
  transition: none;
  background-color: inherit;
  cursor: default;
}
.poll__main-item-radio_not-active:hover {
  background-color: inherit;
}
.poll__main-item-text {
  white-space: normal;
  text-align: center;
}
.poll__main-item-text_highlight {
  padding: 0 10px;
  background-color: rgba(199, 199, 199, 0.2);
  border-radius: 20px;
}
.poll__main-item-checkbox {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 0;
  box-shadow: inset 0 0 0 1px #9F9F9F;
  box-shadow: inset 0 0 0 1.5px #9F9F9F;
  appearance: none;
  transition: box-shadow 150ms cubic-bezier(.95,.15,.5,1.25);
  pointer-events: none;
}
.poll__main-item-checkbox:focus {
  outline: none;
}
.poll__main-item-checkbox:checked {
  box-shadow: inset 0 0 0 6px #6743ee;
}
.poll__main-poll-date {
  position: absolute;
  right: 0;
  bottom: 0;
}
.poll__main-btn-wrapper {
  margin: 0 0 10px;
}
.poll__main-btn-submit, .poll__main-btn-result {
  margin: 15px 0 0;
  padding: 10px 15px;
  background-color: #e2a815;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.2s ease-in-out;
}
.poll__main-btn-submit:hover {
  background-color: #be8e14;
}
.poll__main-btn-result {
  margin: 0 10px 0 0;
  background-color: #e05036;
}
.poll__main-btn-result:hover {
  background-color: #bb3820;
}
.poll__create-title {
  margin: 0 0 25px;
  width: 75%;
  height: 30px;
  font-size: 20px;
}
.poll__create-variants {
  width: 75%;
  font-size: 20px;
}
.poll__create-btn {
  padding: 10px 25px;
}
.poll__create-error {
  color: #e05036;
}
